
body{
    height:100%;
    margin: 0;
    padding: 0;
    
}
.bg-blur {
    background-image: url("../img/fundo.jpeg");
    position: fixed;
    min-height: 100vh
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    inset: 0;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    background-color:rgba(255, 255, 255, 0.15);
    z-index: -1;
}
header{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    padding: 10px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header span{
    font-family: sans-serif;
}

.img-div img{
    border-radius: 50px;
}
section{
    padding-top: 20px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(1fr,1fr,1fr,1fr);
    text-align: center;
    justify-content: center;
}
.img-item img{
    max-width: 25px;
    max-height: 25px;
    text-align: center;

}
.link-tree{
    border: 1px solid rgba(0,0,0,0.2);
    animation: scale 1.2s infinite;
    font-family: Arial, Helvetica, sans-serif;
    transition: all ease-in-out 0.2s;
    background-color: rgba(95, 86, 100, 0.377);
    display: flex;
    width: 320px;
    padding: 10px;
    padding-left: 20px;
    border-radius: 20px;
    justify-content: space-between;
}
.link-tree:hover{
    transform: scale(1.02);
    transition: all ease-in-out 0.2s;
}
.link-tree a{
    text-decoration: none;
    color: black;
}
.img-item{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
}
#insta{
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.2), /* Sombra para profundidade */
        0 0 10px rgba(255, 0, 100, 1), /* Brilho interno/soft glow (COR PRINCIPAL DO BOTÃO) */
        0 0 20px rgba(255, 0, 100, 1); /* Brilho externo/mais suave */
    background-color: rgba(255, 0, 100, 0.6);
}
#gmail{
    box-shadow: 
    0 4px 6px rgba(0, 0, 0, 0.2),
    0 0 10px  rgba(255, 0, 0, 1),
    0 0 20px rgb(255, 251, 1);
    background-color: rgba(255, 157, 0, 0.6);
}
#whats{
    box-shadow: 
    0 4px 6px rgba(0,0,0,0.2),
    0 0 10px rgb(15, 179, 0),
    0 0 20px #075E54;
    background-color: rgba(1, 171, 60, 0.6);
}

.header-bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
}


@keyframes scale {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.009);
  }
}
